.header {
	background-color: $accent;
	padding: 20px 0;

	&-logo-wrapper {
		display: flex;
		align-items: center;
	}

	&-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		font-family: $ff;
		font-weight: $fw-bold;
		font-size: 40px;
		padding: 20px;
		background-color: $white;
		color: $black;
		border-radius: 100%;
		margin-right: 20px;
	}

	&-logo-text {
		font-family: $ff;
		font-weight: $fw-medium;
		font-size: 22px;
		color: $white;
		line-height: 1;
	}
}